<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.jkdh.text2me"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Text2MeTheme" >
        <activity
            android:name="de.jkdh.text2me.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.jkdh.text2me.conversation.ConversationActivity"
            android:parentActivityName="de.jkdh.text2me.MainActivity" />
        <activity
            android:name="de.jkdh.text2me.contact.ContactsActivity"
            android:parentActivityName="de.jkdh.text2me.MainActivity" />
        <activity
            android:name="de.jkdh.text2me.contact.ContactProfileActivity"
            android:parentActivityName="de.jkdh.text2me.conversation.ConversationActivity" />
        <activity
            android:name="de.jkdh.text2me.settings.SettingsActivity"
            android:parentActivityName="de.jkdh.text2me.MainActivity" />

        <service
            android:name=".dashclock.DashClockMessageExtension"
            android:icon="@drawable/ic_dashclock_icon"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="1" />
            <meta-data
                android:name="description"
                android:value="@string/app_name" />
        </service>
    </application>

</manifest>